<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.firelawn.testng.BaseTest"/>
      <class name="com.firelawn.testng.RegisterTest"/>
      <class name="com.firelawn.testng.ShoppingCartTest"/>
      <class name="com.firelawn.testng.MainTest"/>
      <class name="com.firelawn.testng.SignInTest"/>
      <class name="com.firelawn.testng.VoucherGenerateTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
